<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="iso-8859-1">
<meta name="description" content="Ejemplo de HTML5">
<meta name="keywords" content="HTML5, CSS3, JavaScript">
<title>{% block title %}{% endblock %}</title>
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body ng-app="myApp" ng-controller="myCtrl">
<header>

	<nav>
		<ul>
			<li><a class="nav-link" href="{% url 'datos' %}">Registrar</a>
			<li><a class="nav-link" href="{% url 'mostrar' %}">Usuarios</a>
		</ul>
	</nav>
   
</header>
<main>
	{% block contenido1 %}
	{% endblock %}
</main>
{% block angularjs %}
{% endblock %}
</body>
<style>
	main form{
		margin: 1em;
	}
    .galeria{
        display: flex;
        padding: 0.5em;
    }
    .galeria .card{
        margin:0.5em;
        width:calc((100% - 3em)/3);
    }
@media screen and (max-width: 600px) {
  .galeria{
        display: flex;
        flex-flow: wrap;
    }
    .galeria .card{
        width: 100%;
    }

}

@media screen and (min-width: 600px) {
    .frmFec{
         width:calc((100% - 3em)/3);
    }
}
p>button{
    padding: 0 !important;
}
</style>
<script>
var options = {

    format:"yyyy-mm-dd",
    autoClose: true,
    i18n: {
                months: ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"],
                monthsShort: ["Ene", "Feb", "Mar", "Abr", "May", "Jun", "Jul", "Ago", "Set", "Oct", "Nov", "Dic"],
                weekdays: ["Domingo","Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado"],
                weekdaysShort: ["Dom","Lun", "Mar", "Mie", "Jue", "Vie", "Sab"],
                weekdaysAbbrev: ["D","L", "M", "M", "J", "V", "S"]
            }
 
}
document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.datepicker');
    var instances = M.Datepicker.init(elems, options);
  });
</script>
{% block js %}
{% endblock %}

</html>