{% extends "base.html" %}
{% block title %}Registra datos{% endblock %}
{% block contenido1 %}
<form method="POST" action="." class="">{% csrf_token %}
	<div class="row">
        <div class="input-field">
          <input id="id_nom" maxlength="45" name="nom" type="text" required class="validate" />
          <label for="id_nom">Nombre</label>
        </div>
     </div>
     <div class="row">
        <div class="input-field">
          <input id="id_ape" maxlength="45" name="ape" type="text" required class="validate" />
          <label for="id_ape">Apellido</label>
        </div>
     </div>
     <div class="row">
        <div class="input-field">
          <input id="id_nac" name="nac" type="date" required />
          <label for="id_nac">Nacimiento</label>
        </div>
     </div>
     
     <div class="row">
     	<label>
      		<input class="with-gap" name="sexo" value="1" type="radio" checked />
      		<span>Hombre</span>
    	</label>
    	<label>
      		<input class="with-gap" name="sexo" value="2" type="radio"  />
      		<span>Mujer</span>
    	</label>
     </div>
<button class="btn waves-effect waves-light" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
  </button>
</form>
{% endblock %}