{% extends "base.html" %}
{% block title %}Registra seguridad{% endblock %}
{% block contenido1 %}
<form method="POST" action="." class="">{% csrf_token %}
	<div class="row">
        <div class="input-field">
          <input id="id_clave" name="clave" type="password" required class="validate" />
          <label for="id_clave">Password</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field">
          <input id="id_usu" maxlength="45" name="usu" type="text" required class="validate" />
          <label for="id_usu">Usuario</label>
        </div>
      </div>
 <button class="btn waves-effect waves-light" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
  </button>
</form>
{% endblock %}