{% extends "base.html" %}
{% block title %}Lista usuarios{% endblock %}
{% load staticfiles %}
{% block contenido1 %}
<form method="POST" class=" frmFec">{% csrf_token %}
  <label>Desde</label>
	<input type="text" name="" ng-model="desde">
  <label>Hasta</label>
  <input type="text" name="" ng-model="hasta">
  
 <button class="btn-floating" ng-click="buscarAuto()">
        <i class="material-icons right">search</i>
  </button>
</form>
<!--
<table>
	<thead>
		<tr>
			<td>Matrícula</td><td>Modelo</td><td>Año</td><td>Precio</td><td>foto</td><td>Reservar</td>
		</tr>
	</thead>
	<tbody>
		{% for post in titulo %} 
		<tr>
			<td>{{ post.matricula }}</td><td>{{ post.modelo }}</td><td>{{ post.anno }}</td><td>{{ post.precio }}</td><td>{{ post.foto }}</td><td><button class="btn-floating waves-effect waves-light" type="submit" name="action">
    <i class="material-icons right">add</i>
  </button></td>
		</tr>
	</tbody>
	{% endfor %}
</table>
-->

<div class="galeria"> 
<div class="card" ng-repeat="post in mdatos">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src='static/{$ post.foto $}'>
    </div>
    <div class="card-content">
    <form  method="POST">{% csrf_token %}
      <span class="card-title activator grey-text text-darken-4">{$ post.modelo $}<i class="material-icons right">more_vert</i></span>
      <p>Precio: {$ post.precio $}</p>
      <p><button class="" type="submit" name="action">
        Reservar
  </button></p>
      </form>
    </div>
    <div class="card-reveal">
    

      <span class="card-title grey-text text-darken-4">{$ post.modelo $}<i class="material-icons right">close</i></span>
      <p>Matrícula: {$ post.matricula $}</p>
      <p>Año: {$ post.anno $}</p>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
      <p></p>
      
    </div>
  </div>
<!--
<div class="galeria">
{% for post in titulo %} 
<div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src='{% static post.foto %}'>
    </div>
    <div class="card-content">
    <form  method="POST">{% csrf_token %}
      <span class="card-title activator grey-text text-darken-4">{{ post.modelo }}<i class="material-icons right">more_vert</i></span>
      <p>Precio: {{ post.precio }}</p>
      <p><button class="" type="submit" name="action">
        Reservar
  </button></p>
      </form>
    </div>
    <div class="card-reveal">
    

      <span class="card-title grey-text text-darken-4">{{ post.modelo }}<i class="material-icons right">close</i></span>
      <p>Matrícula: {{ post.matricula }}</p>
      <p>Año: {{ post.anno }}</p>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
      <p></p>
      
    </div>
  </div>
  {% endfor %}
  </div>
  -->
{% endblock %}
{% block js %}
<script>

window.csrf_token = "{{ csrf_token }}";


$(function(){
 
  $("#frmBuscaAuto").on("submit",function(){
    var formData = new FormData(this);

    $.ajax({
            url : "",
            type: "POST",
            data : formData,
            processData: false,
            contentType: false,
            success:function(response){
                var message = response.content.message

                alert(message);
            },
        });
     return false;
  });
});

var app = angular.module("myApp", []);

app.config(function($httpProvider,$locationProvider,$interpolateProvider) {
    $httpProvider.defaults.headers.common["X-CSRFToken"] = window.csrf_token;

    $locationProvider.html5Mode({
              enabled:true
    });
    $interpolateProvider.startSymbol('{$');
    $interpolateProvider.endSymbol('$}');


 }); 

app.controller("myCtrl", function($scope, $http) {
 
  $scope.buscarAuto = function(){
    
    $http({
      method: 'GET',
      url: "automovil/?desde="+$scope.desde+"&hasta="+$scope.hasta
    }).then(function(response) {
      $scope.mdatos = response.data;
    
    });

  }
});
</script>
{% endblock %}
{% block angularjs %}
<script>

</script>
{% endblock %}